@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap");
@media (min-width: 320px) and (max-width: 425px) {
  body {
    font-family: "Nunito Sans", sans-serif; }
  .mobile {
    background: white;
    padding: 0 16px; }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 30px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.3px; }
  .icons {
    display: flex; }
  .info {
    margin-right: 5px; }
  .hello {
    display: flex;
    align-items: center;
    margin-bottom: 17px; }
  .martha {
    margin: 0 16px;
    width: 247px;
    font-weight: 700;
    color: #191d21;
    font-size: 24px; }
  .burger {
    background: no-repeat url(../img/burger.png) center/cover;
    width: 32px;
    height: 32px;
    border: none; }
  .button_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px; }
  .button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    border: none;
    background-color: white;
    font-style: normal;
    font-family: "Nunito Sans", sans-serif; }
    .button:hover {
      color: white;
      background: #393939;
      border-radius: 16px;
      cursor: pointer;
      font-weight: 800; }
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .meditation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
  .meditation2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px; }
  .meditation__time {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    background: #ffffff;
    border-radius: 16px;
    padding: 4px 8px; }
  .Image1 {
    padding: 0 16px;
    width: 100%; }
  .Image3 {
    padding: 0 8px;
    width: 100%; }
  .meditation__text,
  .kindness {
    font-size: 20px;
    line-height: 22px; }
  .kindness {
    margin-bottom: 8px; }
  .main__left {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    width: calc(50% - 7px); }
  .main__right {
    width: calc(50% - 7px); }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    padding: 16px;
    background: #ffe3d3;
    border-radius: 16px;
    margin-bottom: 16px; }
  .card2 {
    background: #e7f6ff; }
  .Image2 {
    padding: 6px 22px;
    width: 100%; }
  .Image4 {
    padding: 16px 8px 0 8px;
    width: 100%; }
  .card3 {
    background: #fffaca; }
  .card4 {
    background: #ffe8ec; }
  .card5 {
    background: #eee6ff; }
  .home_bar {
    position: fixed;
    bottom: 8px;
    left: calc(50% - 134px / 2 + 0.5px);
    background: #acb8c2;
    opacity: 0.4;
    border-radius: 100px;
    width: 134px;
    height: 5px; } }
